* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	min-height: 100vh;
	width: 100vw;
}

.table {
	height: 100vh;
	width: 100vw;
	background-color: darkgreen;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 3rem;
	align-items: center;
	padding: 100px 0 100px 0;
}
.community-cards,
.player-cards {
	display: flex;
	gap: 1rem;
}
.card {
	width: calc(2.5 * 40px);
	height: calc(3.5 * 40px);
	border: 2px solid #fffeeec1;
	border-radius: 5px;
	background-size: cover;
	background-position: center;
	transition: all 0.3s ease-in-out;
}

.buttons button {
	width: 120px;
	height: 60px;
	font-size: 24px;
	background-color: darkblue;
	color: white;
	border: none;
	margin: 20px;
}
#new-deck {
	background-color: darkred;
}

.d-none {
	display: none;
}
.response {
	position: absolute;
	top: 20px;
	left: 20px;
	color: white;
	font-size: 12px;
}
